:root {
    --onyx: #3C3C3B;
    --tred: #7D4F50;
    --pblue: #71A2B6;
    --atom: #F39B6D;
    --pistachio: #8CD867;
}

header {
    color: #71A2B6;
}

.card-body,
.card,
.list-group-item {
    background-color: #71A2B6;
}

.container {
    display: flex;
}
